<html>
   <head>
        <title>
            Database Writer
        </title>
   </head> 
   <body>
    <h1>Welcome to Database Writer</h1>
    <form method="post">
        <input type="email" name="Email">
        <input type="text" name="Name">
        <input type="submit" value="archiver">
    </form>
   </body>
</html>
