<html>
    <head>
        <title>
            Sample Title
        </title>
    </head>
    <body>
        <h1>Title</h1>
        <p>
            This is the entry to the http server
        </p>
        <form action="" method="post">
           <input type="text" name="Name"> 
           <input type="submit" name="submit">
        </form>
    </body>
</html>
