<html>
    <head>
        <title>
            {{.Name}}
        </title>
    </head>
    <body>
        <h1>
            This is the View Page!
        </h1>
        <p>
            My name is <b>{{.Name}}</b>
            My email is <b>{{.Email}}</b>
        </p>
    </body>
</html>
